<%- include ("partials/header") %>
<header class="reservation-img">
	<div class="nav-wrapper clearfix">
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><img src="images/nav-logo.png" alt=""></a>
				</div>





				

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/">home</a></li>
						<li><a href="/menu">menu</a></li>
						<li><a href="/reservation">reservation</a></li>
						<li><a href='/food-experience'>Food Experience</a></li>
						<li><a href="/about">about</a></li>
						<li><a href="/contact">contact</a></li>

					</ul>

					
						<ul class="nav navbar-nav navbar-right">
						<li><a href="/login">Login</a></li>
						<li><a href="/signup">Signup</a></li>
					
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="hero-section clearfix">
		<h1 class="text-center">About Us</h1>
		<h2 class="text-center">We believe food lovers should order food easily</h2>
	</div>
	
</header>

<section class="reservation reservation-bg">
	<div class="container">
		<div class="row">
			<h1 class="text-center text-dark"> our Team</h1>
			<h3 class="text-center">Shahnewaz, Gazi Md.</h3>

			<h3 class="text-center">Mahamud, Md.Firoz</h3>
			<h3 class="text-center">Foyez, Saied Ahammed</h3>
			<h3 class="text-center">Tonmoy, Md.Reja-E-Rabbi</h3>

		</div>

	</div>

	</div>
	</div>
	</div>
	</div>
</section>
